<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @exercise.activity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
